.drawer {
  position: fixed;
  background-color: white;
  box-shadow: 0px -2px 0.5rem #00000029;
  border-radius: 1.25rem 1.25rem 0px 0px;
  z-index: 1001;
  width: 100%;

  &.bottom {
    bottom: 0;
    left: 0;
  }

  &.opened {
    .header {
      .toggle {
        padding-top: 1.5rem;
        padding-bottom: 0.1rem;
      }
    }
  }

  .header {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;

    .toggle {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem;

      img {
        width: 1.125rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
    overflow: visible;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    line-height: 22px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 940;
  background-color: #000;
  transition: all 2s ease-in-out;
  opacity: 0;

  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  &.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}
